@use 'tailwind.scss';
@use 'fonts.scss';

html,
body {
  font-family:
    Nunito,
    Noto Sans SC,
    system-ui,
    -apple-system,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  min-height: 100vh;
}

#app {
  height: auto;
}
